
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #f3f5f8;
    --secandary-color: #3d535f;
    --small-colors: #7f00ff;
    --background-body: #c7bbbb;
}
.dark-theme{
    --primary-color: #130f18;
    --secandary-color: #f3f5f8;
    --background-body: #363131;
}
body{
    overflow-x: hidden;
}
#dark-moon{
    position: absolute;
    padding: 10px;
    top: 100px;
    cursor: pointer;
    box-shadow: 4px 8px 10px var(--background-body);
    z-index: 120;
    color: var(--secandary-color);
    background-color: var(--primary-color);
    left: 200px;
}
.up {
    position: fixed;
    bottom: 40px;
    right: -45px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    border-radius: 4px;
    font-family: Arial,tahoma;
    transition: .3s;
    cursor: pointer;
    box-shadow: 1px 2px 14px var(--small-colors);
    z-index: 120;
    color: var(--secandary-color);
}
.show{
    right: 10px;
}
.show:hover{
    animation: rotatandscale .5s ease;
}

@keyframes rotatandscale {
    50%{
        transform:rotate(1turn) scale(2);
    }
    100%{
        transform:rotate(0turn) scale(1);
    }
}
.container {
    width: 100%;
    max-height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;
    font-family: 'poppins',sans-serif;
    position: relative;
}
.container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: -3px;
    background: linear-gradient(to top, var(--primary-color), transparent)
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 80px;
    line-height: 80px;
    z-index: 100;
    margin: 10px auto;
    padding: 0 45px;
}
.logo{
    display: flex;
    font-size: 30px;
    font-weight: 800;
    color: var(--secandary-color);
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    transition: 1s;
}
b{
    font-size: 60px;
    color: var(--small-colors);
}
.navItems {
    display: flex;
    z-index: 100;
}
.navItems p{
    color: var(--secandary-color);
    position: relative;
    transition: 1s;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}

.navItems li a{
    font-size: 15px;
    color: var(--secandary-color);
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a{
    color: var(--small-colors);
}
.links {
    line-height: 0;
    border: 6px solid var(--small-colors);
    border-radius: 12px;
    padding: 15px 0 0;
    border-right: none;
    border-left: none;
    transition: right 2s;
    z-index: 100;
    right: -343px;
    position: relative;
}
.links:hover {
    border-color: var(--primary-color);
    transition: 1s;
}
.links i:hover{
    color: var(--small-colors);
    transition: .4s ease-in-out;
    transform: rotate(1turn);
}
.links a{
    font-size: 20px;
    color: var(--secandary-color);
    margin: 25px 10px;
}
.links-two{
    padding-left: 2px;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
    position: relative;
    top: -55px;
}
.wrapper::before{
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    left: -10%;
    top: 30%;
    background: linear-gradient(65deg, var(--small-colors), pink);
    animation: object1 6s linear infinite;
}
.wrapper::after{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    left: 50%;
    top: 5%;
    background: linear-gradient(45deg, var(--small-colors), pink);
    animation: object2 6s linear infinite;
}
@keyframes object1 {
    50%{
        left: -13%;
        top: 30%;
    }
}
@keyframes object2 {
    50%{
        left: 50%;
        top: 7%;
    }
}
@media (max-width:676px) {
    .wrapper::before{
        content: "";
        position: absolute;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        left: -5%;
        top: 21%;
        background: linear-gradient(65deg, var(--small-colors), pink);
        animation: smallobject1 6s linear infinite;
    }
    .wrapper::after{
        content: "";
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        left: 50%;
        top: -20%;
        background: linear-gradient(45deg, var(--small-colors), pink);
        animation: smallobject2 6s linear infinite;
    }
    @keyframes smallobject1 {
        50%{
            left: 0%;
            top: 21%;
        }
    }
    @keyframes smallobject2 {
        50%{
            left: 50%;
            top: -15%;
        }
    }
}
.cols{
    width: 50%;
}
.cols0{
    z-index: 2;
}
.topline{
    display: block;
    position: relative;
    font-size: 25px;
    letter-spacing: 5px;
    color: var(--secandary-color);
}
.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width:45px;
    bottom: 10px;
    background-color: var(--small-colors);
}
h1#multi{
    display: block;
    font-size: 5em;
    font-weight: 900;
    color: var(--secandary-color);
}
.multi-text{
    color: var(--small-colors);
    text-transform: uppercase;
    user-select: none;
}
.cols.cols0 p{
    display: block;
    width: 90%;
    font-size: 1em;
    color: var(--secandary-color);
}
.btns{
    width: 100%;
    position: relative;
    left: 100px;
}
button{
    outline: none;
    border:none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    color: var(--primary-color);
    background-color: var(--secandary-color);
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0px 8px 10px var(--secandary-color);
    z-index: 100;
    border-radius: 5px;
}
button:hover {
    background-color: var(--small-colors);
    color: white;
}
.imgbox{
    position: relative;
}
.imgbox img{
    position: absolute;
    width: 150%;
    top: -190px;
    right: -200px;
    animation: animateUser 3s linear infinite;
    mix-blend-mode:darken;
    z-index: 0;
}
@keyframes animateUser {
    50%{
        transform: scale(1.03);
    }
}
.imgbox #splash{
    position:absolute;
    top: -150px;
    left: 200px;
    width: 100%;
    transform: scale(1.8) rotate(.50turn);
    animation: animateSplash 30s linear infinite;
}

/* middel screen */
@media (min-width:676px) {
    h1#multi{
        font-size: 3em;
        width: 160%;
    }
    button {
        font-size: 10px;
    }
    .logo{
        font-size: 16px;
    }
    button {
        font-size: 10px;
    }
    .imgbox{
        width: 419px;
    }
    .navItems p{
        font-size: 8px;
        width: 177px;
    }
    .wrapper{
        padding: 0 15%;
    }
    nav{
        padding-left: 15%;
    }

}
@media (min-width:820px) {
    h1#multi{
        font-size: 3em;
        width: 176%;
    }
    .logo{
        font-size: 18px;
    }
    button {
        font-size: 16px;
    }
    .imgbox{
        width: 501px;
    }
    .imgbox img{
        top: -229px;
    }
    .navItems p{
        font-size: 12px;
        width: 264px;
    }
}
@media (max-width:676px) {
    b,
    .links a,
    .navItems li a,
    .logo{
        font-size: 10px;
    }
    .navItems{
        display:none;
    }
    nav{
        height: fit-content;
        line-height: 0px;
    }
    .logo{
        line-height: 40px;
        margin-right: 44px;
    }
    .container{
        min-width: 320px;;
        margin: auto;
        height: 100vh;
    }
    .links{
        width: 76px;
        padding: 8px;
        border-width: 2px;
        margin-right: 14px;
    }

    .links a{
        margin: 1px;
    }
    .links .links-one{
        margin-bottom: 5px;
    }
    .topline{
        letter-spacing: 2px;
    }
    .topline::after{
        height: 1px;
        width: 20px;
        bottom: 4px;
    }
    h1#multi{
        font-size: 2em;
        width: 120%;
    }
    .cols {
        height: inherit;
        width: 65%;
        
    }
    .cols.cols0{
        position: relative;
        top: -45px;
        width: auto;
        left: 30px;
    }
    .cols.cols0 p{
        margin-right: 50px;
    }
    .wrapper {
        padding: 15px;
        margin-top: 56px;
        overflow: visible;
        top: 40px;
        flex-direction: column;
    }
    .imgbox{
        position: relative;
        right: -44px;
        top: -75px;
    }
    .imgbox img{
        width: 160%;
        top: -40px;
        right: 35px;
    }
    .imgbox #splash {
        top: -81px;
        left: 72px;
        width: 200%;
        transform: scale(1.8) rotate(0.32turn);
        animation: animateSplash2 30s linear infinite;
    }

    @keyframes animateSplash2 {
        50%{
            transform:scale(1.8) rotate(.50turn);
            
        }
        100%{
            transform:scale(1.8) rotate(.32turn);
        }
    }
    .btns{
        display: flex;
        position: relative;
        left: -7px;
    }
    button {
        font-size: 12px;
        padding: 5px 4px;
        margin: 6px 5px;
        letter-spacing: 0px;
        box-shadow: 0 4px 6px rgb(0 0 0 / 40%);
    }
    #dark-moon{
        padding: 6px;
    }
    
}
@keyframes animateSplash {
    50%{
        transform:scale(1.8) rotate(.65turn);
        
    }
    100%{
        transform:scale(1.8) rotate(.50turn);
    }
}




.btn {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.callme {
    position: absolute;
    box-shadow: 0 0 10px 5px rgb(0 0 0 / 40%);
    color: #999 !important;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s;
    border-radius: 5px;
    width: 100%;
    bottom: -48px;
}
.callme span:nth-child(1) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, var(--small-colors));
    animation: animate1 2s linear infinite;
}
.callme span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(to bottom, transparent, var(--small-colors));
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
.callme span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, transparent, var(--small-colors));
    animation: animate3 2s linear infinite;
}
.callme span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(to top, transparent, var(--small-colors));
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate1 {
    0% {
    transform: translateX(-100%);
}

100% {
    transform: translatex(100%);
}
}
@keyframes animate2 {
    0% {
    transform: translateY(-100%);
}

100% {
    transform: translateY(100%);
}
}
@keyframes animate3 {
    0% {
    transform: translateX(100%);
}

100% {
    transform: translatex(-100%);
}
}
@keyframes animate4 {
    0% {
    transform: translateY(100%);
}

100% {
    transform: translateY(-100%);
}
}

@media (min-width: 400px) and (max-width:676px) { /* Desk Top => Tablets */
    .imgbox img{
        top: -105px;
    }
};
@media (min-width: 992px) { /* Desk Top => Tablets */
    .navItems p{
        font-size: 17px;
        width: 100%;
    }
};
